* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --dark-bg:#0a0a0a;
  --darker-bg: #050505;
  --accent: #2ecc71;
  --accent-glow: rgba(56,204,113,0.4);
  --text: #ffffff;
}

body{
background-color: var(--dark-bg);
color: var(--text);
line-height: 1.6;
overflow: hidden;
}

 
.so-far-away {
background-color: rgb(255, 255, 255);
padding: 20px;
color: rgb(255, 255, 255);

}

.a-little-piece-of-heaven {
gap: 20%;
display: flex;
align-items: center;
}

.hero{
min-height: 100vh;
display:flex;
align-items:center;
padding:12% 5% ;
background: radial-gradient(circle at 75% 30%)
var(--acent-glow)0%, transparent 30%;
}

.hero-content{
flex:1;
padding: right 5rem; ;
}